{% extends "base.html" %}

{% block title %}Стартавая Страница{% endblock title %}

{% block content %}
 <body>
    {% if request.GET.name %}
      <h3>{{message}}</h3>
    {% else %}
    <div class="form-row">
      <div class="col-auto">
        <form method="get" action="{% url 'startpage' %}">
          <input type="text" id="inlineFormInputName" name="name" class="form-control" placeholder="Напишите ваше имя"><button type="submit" class="btn btn-primary">Ввод</button>
        </form>
      </div>
    </div>
     {% endif %}
</body>
{% endblock %}
